<div class="contain-to-grid">
  <nav id="main-top-bar" class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to 'notas'}}Anótame.la{{/link-to}}</h1>
      </li>
    </ul>
   <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="right">
        <li>{{#link-to 'notas.nueva'}}Nota Nueva{{/link-to}}</li>
      </ul>
    </section>
  </nav>
</div>
<div class="row">
  {{outlet}}
</div>
