<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to 'index'}}Anótamela{{/link-to}}</h1>
      </li>
    </ul>
   <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="right">
        <li><a href="#">Nota Nueva</a></li>
      </ul>
    </section>
  </nav>
</div>
{{outlet}}
