<div id="nota-nueva" class="row">
  {{input value=title placeholder="titulo"}}
  {{input value=description placeholder="descripción"}}
  {{input value=language placeholder="language"}}
  {{textarea value=content rows="5"}}
</div>